@font-face {
    font-family: fuenteParaBotones;
    src: url(../fuentes/CaesarDressing-Regular.ttf);
}

:root {
    --color-texto: #d9a441;
    --color-header-footer: #1b1f3b;
    --color-contenido: #2e6f40;
    --color-campos-botones: #7a4bff;
    --opacity-header-footer: 0.5;
}

body {
    background-image: url(../imgs/fondos-de-combate/fondo-castillo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* height: 100vh; */
}

img {
    width: 20vw;
    height: 30vh;
}

/* BOTÓN BASE */
.btn-demon {
    color: var(--color-texto);
    position: relative;
    font-family: fuenteParaBotones;
    font-size: large;
    border: none;
    background: linear-gradient(to bottom,
            #b794fe 0%,
            #8c53ff 50%,
            #5500ff 100%);

    /* Forma angular */
    clip-path: polygon(10% 0%, 90% 0%,
            100% 50%,
            90% 100%, 10% 100%,
            0% 50%);
    box-shadow:
        inset 0 3px 5px rgba(255, 255, 255, 0.3),
        inset 0 -5px 8px rgba(0, 0, 0, 0.6),
        0 10px 20px rgba(0, 0, 0, 0.6);
    transition: all .2s ease;
    padding: 5px;
}

/* Borde metálico */
.btn-demon::before {
    content: "";
    position: absolute;
    inset: -4px;
    clip-path: inherit;
    z-index: -1;
}

/* Efecto hover */
.btn-demon:hover {
    transform: translateY(-4px);
    box-shadow:
        inset 0 3px 8px rgba(255, 255, 255, 0.4),
        inset 0 -6px 12px rgba(0, 0, 0, 0.8),
        0 15px 25px rgba(0, 0, 0, 0.8);
}

#campoBatalla {
    /* position: relative;
    top: 20vh; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5%;
}

#personaje1,
#personaje2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5%;
}

#nombrePersonaje1,
#nombrePersonaje2 {
    font-family: fuenteParaBotones;
    color: var(--color-texto);
    background-image: url(../imgs/fondoPantallaLadrillo.png);
    background-size: cover;
}

/* ICONOS DE ESTADO PERSONAJE 1 */
#confundidoPersonaje1, #quemadoPersonaje1, #heridoGravePersonaje1, #heridoLevePersonaje1, #envenenadoPersonaje1, #confundidoPersonaje2, #quemadoPersonaje2, #heridoGravePersonaje2, #heridoLevePersonaje2, #envenenadoPersonaje2  {
    width: 25%;
    height: 25%;
    opacity: 0;
}

/* BARRA DE VIDA Y DE ESTAMINA DEL PERSONAJE 1 */
#barraVidaPersonaje1, #barraVidaPersonaje2{
    width: 70%;
    height: 2.5vh;
    background-color: red;
}

#vidaRealPersonaje1, #estaminaRealPersonaje1, #vidaRealPersonaje2, #estaminaRealPersonaje2 {
    width: 100%;
    height: 100%;
    background-color: greenyellow;
}

#barraEstaminaPersonaje1, #barraEstaminaPersonaje2 {
    width: 70%;
    height: 2.5vh;
    background-color: red;
    margin-top: 5px;
}

#cuadroBotones1,
#cuadroBotones2 {
    padding: 10%;
}
